   <div class="row mt-4">
  <div class="col-md-6">
    <h3>Edit your post</h3>
        <p>Posted by:{{user.name}} on {{format_date date_created}}</p>

    <form class="form edit-post-form">
      <div class="form-group">
        <label for="post-name">Title:</label>
        <input class="form-input" value="{{title}}" type="text" id="updated-post-name" name="post-name" />
      </div>
     
      <div class="form-group">
        <label for="content-desc">content:</label>
        <textarea class="form-input" id="updated-post-content" name="post-desc">{{content}}</textarea>
      </div>
      <div class="form-group">
         <button type="button" id="updateBtn" class="btn btn-primary" data-update-id="{{id}}">Edit Post</button>
         <button type="button"class="btn btn-sm btn-danger" data-id="{{id}}">Delete Post</button>
      </div>
    </form>
    <script type="text/javascript" src="../js/edit.js"></script>
  </div>

